*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
build
Debug
documentation/html
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d

# SourceInsight project
SI3
SI4

lib

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

